body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar.navbar-expand-lg {
  background-color: #172c45 !important;
  padding: 5px 30px;
}

.nav-link {
  color: #fff !important;
}

.avatar {
  max-height: 40px;
}

.card-body-main {
  border: 1px solid #172c45 !important;
  border-radius: 10px !important;
}

.no-border {
  border: unset !important;
}

.logo-rep {
  height: 50px;
}

body iframe {
 display: none !important;
}